ul {
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

body{
    align-content: center;
    background-color: peachpuff;
}

button{
    padding: 40px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lefthalf{
    display: grid;
    grid-template-areas: 
    "top top top top"
    "first first second second"
    "first first second second"
    "first first second second";
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}