ul {
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.numbers ul {
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d";
}

.operators ul {
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
}

body{
    align-content: center;
    background-color: peachpuff;
}

button{
    padding: 40px;
}

.body{
    display: grid;
    grid-template-areas: 
    "top top top top"
    "first first second second"
    "first first second second"
    "first first second second";
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0px;
}

.display, .numbers, .operators{
    background-color: palegoldenrod;
    margin: 0px;
    padding-top: 40px;
}

.display{
    display: flex;
    justify-content: end;
    grid-area: top;
    padding: 40px;
}

.numbers{
    display: flex;
    flex-direction: column;
    grid-area: first;
}

.operators{
    display: flex;
    flex-direction: column;
    grid-area: second;
}