ul {
    list-style-type: none;
    display: grid;
}

.numbers ul {
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d";
}

.operators ul {
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
}

body{
    align-content: center;
}

.body{
    display: grid;
    grid-template-areas: 
    "a"
    "b b c"
    "b b c";
    justify-content: center;
    align-items: center;
}
